page-finalizar-cadastro {
    .body{
        // margin: 0px;
        background-color: #73A1A5;
    }

    .img{
        width: 100%;
    }

    .conteiner{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content: space-between;
        margin-top: 20%;
    }

    .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10%;
        // margin-top: -50px;
    }

    .itemList{
        margin-top: 5px;
        background-color: #73A1A5;
        color: white;
        font-size: 15px;
        float: left;
        border-bottom: solid 3px rgba(59, 96, 100, 0.801);
        width: 80%;

        ::placeholder{
            color: rgba(255, 255, 255, 0.500);
        }
        
    }

    .divButton{
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .button{
        width: 50%;
        background-color: rgba(59, 96, 100, 0.801);
        height: 50px;
    }
}
