list-view{
  #container{
    background-color: #6d9b9e;
    height: 32px;
    overflow: hidden;

    label{
      height: 32px;
      display: flex;
      padding-right: 4px;
      padding-left: 4px;
      justify-content: space-between;
      align-items: center;

      input[type="checkbox"]{
        display: none;
      }

      input[type="checkbox"]:checked ~ svg{
        transform: rotate(180deg);
      }

      div{
        color: white;
      }

      svg{
        transition: .3s;
      }
    }
  }

  .options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;

    div{
      text-align: left;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 8px;
    }
  }
}
