<ion-header>
  <!-- <ion-navbar>
    <ion-title>editarDadosPessoais</ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content class="body">
  <div class="conteiner">
    <form class="principal" [formGroup]="editForm" (ngSubmit)="salvar()">
        <div class="topo">Editar Dados Pessoais</div>

        <div class="list">
          <span class="itemLabel">Nome:</span>
          <input formControlName="nome" placeholder="Digite o nome" type="text">
        </div>

        <div class="list">
          <span class="itemLabel">Sobrenome:</span>
          <input formControlName="sobrenome" placeholder="Digite o sobrenome" type="text">
        </div>

        <div class="list select">
          <span class="itemLabel">Gênero:</span>
          <div class="select-wrpaper">
            <ion-select formControlName="genero" class="textarea" placeholder="Genêro">
              <ion-option value="masculino">Masculino</ion-option>
              <ion-option value="feminino">Feminino</ion-option>
            </ion-select>
          </div>
        </div>

        <div class="list">
          <span class="itemLabel">Email:</span>
          <input formControlName="email" type="text">
        </div>

        <div class="list">
          <span class="itemLabel">CPF:</span>
          <input [brmasker]="{mask:'000.000.000-00', len:14}" formControlName="cpf" type="text">
        </div>

        <div class="list">
          <span class="itemLabel">Nome da Mãe:</span>
          <input formControlName="nomeMae" type="text">
        </div>

        <div class="list">
          <span class="itemLabel">Nome do Pai:</span>
          <input formControlName="nomePai" type="text">
        </div>

        <div class="list date">
          <ion-label>Data de Nascimento:</ion-label>
          <ion-datetime formControlName="nascimento" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"></ion-datetime>
        </div>

        <div class="list">
          <span class="itemLabel">Contato:</span>
          <input formControlName="celular" type="text">
        </div>

        <div class="list">
          <span class="itemLabel">Contato de Emergência:</span>
          <input formControlName="telEmergencia" type="text">
        </div>

        <div class="list select">
          <span class="itemLabel">Alérgico à Medicação:</span>
          <div class="select-wrpaper">
              <ion-select multiple="true" formControlName="medicamentos" class="textarea" placeholder="Medicamentos">
                <ion-option *ngFor="let option of listaMedicamentos" [value]="option.value">{{option.label}}</ion-option>
              </ion-select>
            </div>
        </div>

        <div class="list select">
          <span class="itemLabel">Alérgico ao Alimento:</span>
          <div class="select-wrpaper">
            <ion-select multiple="true" formControlName="alAlimentos" class="textarea" placeholder="Alimentos">
              <ion-option *ngFor="let option of listaAlimentos" [value]="option.value">{{option.label}}</ion-option>
            </ion-select>
          </div>
        </div>

        <div class="list select">
          <span class="itemLabel">Condição Especial:</span>
          <div class="select-wrpaper">
              <ion-select multiple="true" formControlName="condEspecial" class="textarea" placeholder="Condição">
                <ion-option *ngFor="let option of listaCondicao" [value]="option.value">{{option.label}}</ion-option>
              </ion-select>
            </div>
        </div>

        <div class="list select">
          <span class="itemLabel">Tipo Sanguíneo:</span>
          <div class="select-wrpaper">
            <ion-select formControlName="tpoSanguineo" class="textarea" placeholder="Tipo Sanguíneo">
              <ion-option value="A+">A+</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="B-">B-</ion-option>
              <ion-option value="O+">O+</ion-option>
              <ion-option value="O-">O-</ion-option>
              <ion-option value="AB-">AB-</ion-option>
              <ion-option value="AB+">AB+</ion-option>
            </ion-select>
          </div>
        </div>

        <div class="list">
          <span class="itemLabel">CNS:</span>
          <input formControlName="cns" type="text">
        </div>

        <button type="submit" ion-button block class="button">Salvar</button>
      </form>

  </div>

</ion-content>

