page-editar-dados-pessoais {
    // .slide{
    //     background-color: #3B6064;
    // }

    .body{
        background-color: #73A1A5;
    }

    .conteiner{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        width: 100%;
        
    }

    .principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
    }


    .topo{
        border-bottom: solid 3px white;
        font-size: 28px;
        height: 40px;
        color: white;
        text-align: center;
    }

    .list{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background-color: rgba(59, 96, 100, 0.1);
        width: 100%;
    }

    .itemList{
        margin-top: 5px;
        color: #3B6064;
        float: left;
        width: 50%;
        // background-color: red;
        padding-right: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .itemLabel{
        width: 50%;
        color: white !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        text-align: left;
    }

    // .itemInput{
    //     color: white;
    //     text-align-last: left;
    //     padding-top: 5px;
    //     padding-bottom: 5px;
    //     padding-left: 5px;
    //     text-align: right;
    // }

    .flexButton{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .button{
        background-color: rgba(59, 96, 100, 0.801);
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }


}
