page-dados-pessoais {
    // .slide{
    //     background-color: #3B6064;
    // }

    .body{
        background-color: #73A1A5;
    }

    .topo{
        border-bottom: solid 3px white;
        font-size: 30px;
        height: 40px;
        color: white;
        margin-top: -40px;
    }

    .list{
        margin-top: 15px;
        
    }

    .itemList{
        margin-top: 5px;
        background-color: #3b606421;
        color: white;
        font-size: 15px;
        float: left;
        
    }

    .itemLabel{
        color: white !important;
    }

    .intemInput{
        color: white;
        text-align-last: left;
    }

    .flexButton{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .button{
        border-radius: 100px;
        width: 60px;
        height: 60px;
        background-color: #3B6064;
        margin-top: 20px;
        
    }



}
